div {
  /*display: -webkit-flex;*/
  /*display: inline;*/
  padding: 1em;
  text-align: center;
  width: 50%;
  position: relative;
  left: 25%;
}

div:hover {outline: 1px solid blue;}

.b {
  background-color: lightblue;
}