.container:after {
  content:"";
  display:table;
  clear:both;
}
.stats {  display: none;  }

.main {
  text-align: center;
  background-color: #1e284a;
  color: #e3f3cf;
}

.asong {
  font-size: 10em;
  display: inline-block;
  position: relative;
  width: 1.2em;
  background-color: #444d6c;
  color: #e3e773;
  margin: .1em;
}

.pane {
  width: 30%;
  position: relative;
}
.pane label{
  font-style: italic;
}
.controls {
  left: 10%;
  float: left;
}
.brains {
  right: 10%;
  float: right;
}
.butt {
  margin: .3em;
}