.container:after {
  content:"";
  display:table;
  clear:both;
}
.stats {  display: none;  }

.main {
  text-align: center;
  background-color: #1e284a;
  /*color: #e3f3cf;*/
  color: #ffffff;
}

.asong {
  font-size: 8em;
  display: inline-block;
  position: relative;
  width: 1.2em;
  background-color: #4d5171;
  margin: .1em;
}

.outlined {
  outline-style: solid;
  outline-width: thin;
  box-shadow: 0 0 .5em #4195fc;
}

.ui-effects-transfer { border: thin solid #ffffff; }

.threepanes {
  position: relative;
  border: dashed;
  display: inline-block;
  left: 0%;
}
.pane {
  border: solid;
  width: 30%;
  /*margin: 1 em;*/
  position: relative;
  float: left;
}
.pane label{
  font-style: italic;
}
.songs {
  /*float: left;*/
}
.controls {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.brains {
  float: right;
}
.butt {
  margin: .3em;
}