.container:after {content:"";display:table;clear:both;}
.stats {  display: none;  }
.ui-effects-transfer { border: thin solid #ffffff; }
.pane label{font-style: italic;}
.songs {float: left;}
.brains {float: right;}
.butt {margin: .3em;}

.main {
  text-align: center;
  background-color: #1e284a;
  /*color: #e3f3cf;*/
  color: #ffffff;
}

.asong {
  font-size: 8em;
  display: inline-block;
  position: relative;
  width: 1.2em;
  background-color: #4d5171;
  margin: .1em;
}

.outlined {
  outline-style: solid;
  outline-width: thin;
  box-shadow: 0 0 .5em #4195fc;
}


.threepanes {
  display: inline-block;
  position: relative;
  width: 100%;
}
.pane {
  width: 33%;
  position: relative;
  float: left;
}
.controls {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.new_song {
  width: 1.2em;
  margin: 0.1em;
  font-size: 2em;
  outline-width: thin;
  outline-style: solid;
  display: inline-block;
  background-color: #4d5171;
  box-shadow: 0 0 .5em #4195fc;
}












